.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
}

#content {
	height: 250px;
	width: 300px;
}

#bodyContent {
	height: 180px;
	display: inline-block;
}

#img_header {
	width: 100%;
	height: auto;
	max-height: 500px;
}

